
body{
 background-color: lightgray;
  font-family: 'Roboto',sans-serif;
  
}
.signup-box{
  width: 360px;
  height: 620px;
  margin: 0 auto;
  border-radius: 10px;
  background-color:  #28282B;
} 

.login-box{
  width: 360px;
  height: 420px;
  margin: 0 auto;
  border-radius: 10px;
  background-color:  #28282B;
}
.image{
  width: 100%;
  text-align: center;
}
.image img{
  width: 100px;
  height: 100px;
  
  margin: 10px;
  border-radius: 10px;
}

h1{
  text-align: center;
  padding-top: 15px;
  color: white;
}
h4{
  text-align: center;
  color: white;
}
form{
  width: 300px;
  margin-left: 20px;
  color: white;
}
form label{
  display: flex;
  margin-top: 20px;
  font-size: 15px;
}
form input{
  width: 100%;
  padding: 6px;
  border: none;
  border: 1px solid lightblue;
  border-radius: 7px;
  outline: none;
}
input[type="button"]{
  width: 315px;
  height: 35px;
  margin-top: 10px;
  border: none;
  background-color: skyblue;
  color: white;
  font-size: 18px;

}
input[type="button"]:hover{
  color: orange;
  background-color: white;
}
p{
  text-align: center;
  padding-top: 30px;
  font-size: 15px;
  padding-bottom: 18px;

}
p a{
  color: orange;
  
}
.para-2{
  text-align: center;
  color: black;
  font-size: 15px;
  margin-top: -25px;
}
.para-2 a{
   margin: auto;
   padding: 3px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: left;
    text-decoration: none;
    background-color: skyblue;
    
    border-radius: 50px;

}